
Selenium_Tweets/main.py
JUPYTER NOTEBOOK/modelo_sentimientos.h5
JUPYTER NOTEBOOK/modelo_lstm.keras
JUPYTER NOTEBOOK/modelo_lstm_mejorado.h5
JUPYTER NOTEBOOK/cc.es.300.vec
JUPYTER NOTEBOOK/modelo_lstm_avanzado.h5
JUPYTER NOTEBOOK/reduced_cc.es.300.vec
JUPYTER NOTEBOOK/modelo_lstm_avanzado.keras
JUPYTER NOTEBOOK/modelo_lstm_avanzado2.keras
