
Selenium_Tweets/main.py
JUPYTER NOTEBOOK/modelo_sentimientos.h5
JUPYTER NOTEBOOK/modelo_lstm.keras
JUPYTER NOTEBOOK/modelo_lstm_mejorado.h5
JUPYTER NOTEBOOK/cc.es.300.vec
JUPYTER NOTEBOOK/modelo_lstm_avanzado.h5
JUPYTER NOTEBOOK/reduced_cc.es.300.vec
JUPYTER NOTEBOOK/modelo_lstm_avanzado.keras
JUPYTER NOTEBOOK/modelo_lstm_avanzado2.keras
FINAL_RNN_TESIS/reduced_cc.es.300.vec
FINAL_RNN_TESIS/lexico_afinn.csv
FINAL_RNN_TESIS/cc.es.300.vec
FINAL_RNN_TESIS/tokenizer.pickle
FINAL_RNN_TESIS/word_dict.json
FINAL_RNN_TESIS/modelo_lstm_avanzado2.keras
Mostrado 29 julio/lexico_afinn.csv
Mostrado 29 julio/reduced_cc.es.300.vec
Mostrado 29 julio/.ipynb_checkpoints/rnn_posts_carreño_navarrete-checkpoint.ipynb
CARREÑO_NAVARRETE_RNN/Mostrado 29 julio/modelo_lstm_avanzado2.keras
